{% extends 'video/base.html' %}
{% load static %}
{% block content %}
<section class="blurred-bg-section pt-5" style="background-image: url({% static 'img/youtubetoolbox.png' %});">
    <div class="d-flex justify-content-center align-items-center h-100 pt-5">
        <div class="container bg-white p-5 rounded-lg shadow">
            <h2 class="text-danger text-center pb-4">Search Results</h2>
            <div class="col">
               {% for video in videos %}


                        <div class="card custom-card mt-3 mx-auto shadow-lg">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="{{ video.thumbnail }}" alt="Video Thumbnail">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ video.title|safe }}</h5>
                                        <div class="mt-3"> <!-- Add a class to center the button -->
                                            <a href="{% url 'video' video.video_id %}" class="btn btn-danger">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}